#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=altisima_interni (Channel) - altisima - 1 new item - Slack
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=jnlabcdoimggcojbdhlofmlcmcclmihl
Icon=chrome-jnlabcdoimggcojbdhlofmlcmcclmihl-Default
StartupWMClass=crx_jnlabcdoimggcojbdhlofmlcmcclmihl
